


<div class="container-fluid ">
    <div class="container cntnrCvr">
        <h3 class="mainH3">About Us</h3>
        <div class="row ">
            <div class="col-md-12">

                <p class="cntntstlP">
                    BostonUs is a leading CCTV manufacturer and a global supplier of

                    advanced video surveillance solutions offering intelligent security solutions that

                    enable a smarter, safer world. We are a USA-based company, operating widely

                    with offices in Africa, Europe, Asia, Middle East. We are one of the world's largest

                    suppliers of video surveillance products and solutions. The company specializes in

                    video surveillance technology, as well as designing and manufacturing a full-line

                    of innovative CCTV and video surveillance products. Our product line ranges from

                    cameras and DVRs to video management software. Since its inception in 2008,

                    BostonUs has gradually achieved a leading worldwide market position in the

                    security industry.
                </p>

                <p class="cntntstlP">
                    BostonUs are the global market leader in network video, driving the

                    ongoing shift from analog to digital video surveillance. We possess the world's

                    largest R&D team and state-of-art manufacturing facilities; both allow our

                    customers the benefit of world-class products that are designed with cutting-

                    edge technology. At BostonUs, we work hard to be a company that enables Us to

                    succeed, be the best and have fun at the same time.


                </p>
                <p class="cntntstlP">
                    BostonUs International Department has many years of exporting

                    experience. Since 2008, BostonUs has been exporting to over 30 countries

                    around the world. BostonUs is now establishing worldwide distribution channels.

                    We will take full advantage of local resources to serve the overseas markets

                    locally with both technical and business support.
                </p>

                <p class="cntntstlP">

                    We appreciate your wholehearted support, encouragement, and co-

                    operation until today and also sincerely hope for your long-lasting partnership

                    with us in the future.
                </p>

            </div>
        </div>
    </div>
</div>